ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.nav ul li {
    margin-right: 20px;
  }

.weun{
    height: 35px;
    width: 70px;
    text-align: center;
}

.cent{
    text-align: center;
    color: blue;
}

.weun:hover {
    border-bottom: 1px solid blue;
}

.logo{
    margin-left: 150px;
    margin-top: 50px;
    /* display: flex; */
    color: rgb(94, 190, 254);
    font-size: 24px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F4F9E2;
}

.nav{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.ltop{
    width: 150px;
    height: 50px;
    border: 0;
    background-color: rgb(94, 190, 254);
    border-radius: 25px;
    color: WHITE;
    z-index: 5;
}

.bp{
    border-radius: 350px 0px 350px 200px;
    position: absolute;
    float: left;
}

.photob{
    position: absolute;
    float: left;
    z-index: 1;
}

main{
    width: 500px;
    height: 650px;
    /* background-color: orange; */
    margin-left: 180px;
    margin-top: 170px;
}

.dwn{
    margin-left: 0; 
}

.hlpin{
    color: blue;
    font-size: 48px;
    font-family: 'Larsseit', sans-serif;;
}

.high{
    color: blue;
    font-size: 24px;
    font-family: 'Larsseit', sans-serif;
}

.org{
    background-color: #F9B640;
    border: 0;
    width: 150px;
    height: 50px;
    font-size: 16px;
    color: white;
}

.rit{
    margin-left: 40px;
    border: 0;
    background-color: transparent;
    color: #FAB63E;
    font-size: 16px;
}

.fon{
    font-family: 'Larsseit', sans-serif;;
}

.wt_line{
    z-index: 1;
    margin-right: 0;
    width: 400px;
    height: 100px;
    background-color: #fff;
}

.sec_pg{
    height: 700px;
    width: 100%;
    background-color: #62D0DF;
}